[Unit]
Description=keypad control for boatpipenv
After=network.target

[Service]
ExecStart=/usr/bin/pipenv run python keypad.py
WorkingDirectory=/home/pi/keypad_control
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
